.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #660ff1!important;
}

.navbar-brand {
    color: white !important;
}
/* 
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white !important;
} */

.navbar-nav .nav-link{
    color: white !important;
}

.img-fluid {
    max-width: 4%;
    height: auto;
}

.card{
border-radius: 10px !important;
}

.btn-primary{
    background-color: #8540f5;
}

.text-primary{
background-color: #721bff;
}